{% extends 'base.html.twig' %}

{% block title %}Quora{% endblock %}

{% block body %}
    <ul>
        {% for question in questions %}
            <div class="block d-flex flex-row mb-20">
                {% include "partials/_rating.html.twig" with {rating: question.rating, from: 'question', id: question.id} %}
                <div class="flex-fill d-flex flex-column">
                    <a class="mb-20 question-content pb-20" href="{{ path('question_show', {id: question.id}) }}">
                        <h3 class="mb-20">{{question.title}}</h3>
                        <p class="question-text">{{question.content}}</p>
                    </a>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <a href="{{ path('user', {id: question.author.id}) }}">
                                <img src="{{asset(question.author.picture)}}" alt="avatar de l'auteur" class="avatar mr-20">
                                <small>Demandé par <span class="clickable">{{ question.author.fullname }}</span></small>
                            </a>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <i class="fas fa-comment mr-20"></i>
                            <p>{{question.nbResponse}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}
