{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/question_show.css') }}">
{% endblock stylesheets %}

{% block title %}
    {{ question.title }}
{% endblock title %}

{% block body %}
    <div class="block">
        <div class="d-flex flex-row-nowrap align-items-center pb-30">
            <h3 class="mr-10">{{question.title}}</h3>
            <div class="question-tag">QUESTION</div>
            <img src="https://randomuser.me/api/portraits/men/35.jpg" alt="" class="avatar ml-auto">
        </div>
        <p class="question-text">{{question.content}}</p>
        <div class="separator"></div>
    </div>
{% endblock body %}