{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/question_show.css') }}">
{% endblock stylesheets %}

{% block title %}
    {{ question.title }}
{% endblock title %}

{% block body %}
    <div class="block">
        <div class="d-flex flex-row-nowrap align-items-center pb-30">
            {% include "partials/_rating.html.twig" with {rating: question.rating, from: 'question', id: question.id} %}
            <h3 class="mr-10">{{question.title}}</h3>
            <div class="question-tag">QUESTION</div>
            <img src="https://randomuser.me/api/portraits/men/35.jpg" alt="" class="avatar ml-auto">
        </div>
        <p class="question-text">{{question.content}}</p>
        <div class="separator"></div>
        <div class="pb-20">
            Nombre de réponses: {{ question.comments|length }}
        </div>

        {% for comment in question.comments %}
            <div class="d-flex flex-row-nowrap mb-20">
                {% include "partials/_rating.html.twig" with {rating: comment.rating, from: 'comment', id: comment.id} %}
                <div class="d-flex flex-fill flex-column">
                    <div class="d-flex flex-row-nowrap align-items-center pb-10">
                        <img class="avatar mr-10" src="https://randomuser.me/api/portraits/men/15.jpg" alt="user-picture">
                        <p class="clickable">Jean Louis</p>
                        <small class="ml-auto">{{ comment.createdAt | ago(locale='fr') }}</small>
                    </div>
                    <p class="question-response-text">{{ comment.content }}</p>
                </div>
            </div>
        {% endfor %}

        <h3 class="pb-20">Votre réponse</h3>
        <div class="comment-form">
            {{ form_start(form) }}
                {{ form_rest(form) }}
                <button class="btn btn-primary">Soumettre</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}