<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>{% block title %}Quori{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock stylesheets %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock javascripts %}
    </head>
    <body class="d-flex flex-column">
       {{ include('partials/_header.html.twig') }}
       {% for cat, list in app.flashes %}
            {% for msg in list %}
                <div class="flash flash-{{cat}}">
                    {{msg}}
                </div>
            {% endfor %}
       {% endfor %}
        <div class="app-content flex-fill d-flex flex-row-nowrap justify-content-center {{ app.request.get('_route') in ['login', 'signup'] ? 'login_bg' : '' }}">
            <div class="content-main content flex-fill d-flex flex-row-nowrap flex-column-xs">
               {{ include('partials/_sidebar.html.twig') }}
    
                <div class="flex-fill">
                    {% block body %}
                        
                    {% endblock body %}
                </div>
            </div>
        </div>
       {{ include('partials/_footer.html.twig') }}
    </body>
</html>
